In [1]:
import pandas as pd

In [2]:
nba = pd.read_csv('~/F24-public/data/nba_salaries.csv')
nba

,rank,name,position,team,salary,season
0,1,Shaquille O'Neal,C,Los Angeles Lakers,17142000,2000
1,2,Kevin Garnett,PF,Minnesota Timberwolves,16806000,2000
2,3,Alonzo Mourning,C,Miami Heat,15004000,2000
3,4,Juwan Howard,PF,Washington Wizards,15000000,2000
4,5,Scottie Pippen,SF,Portland Trail Blazers,14795000,2000
...,...,...,...,...,...,...
9451,524,Jimmer Fredette,G,Phoenix Suns,208509,2020
9452,525,Jontay Porter,PF,Memphis Grizzlies,197933,2020
9453,526,Anthony Tolliver,PF,Memphis Grizzlies,183115,2020
9454,527,Tyler Johnson,SG,Phoenix Suns,183115,2020
9455,528,Luguentz Dort,SG,Oklahoma City Thunder,155647,2020

In [3]:
type(nba)

pandas.core.frame.DataFrame

In [4]:
nba.head(10)

   rank              name position                    team    salary  season
0     1  Shaquille O'Neal        C      Los Angeles Lakers  17142000    2000
1     2     Kevin Garnett       PF  Minnesota Timberwolves  16806000    2000
2     3   Alonzo Mourning        C              Miami Heat  15004000    2000
3     4      Juwan Howard       PF      Washington Wizards  15000000    2000
4     5    Scottie Pippen       SF  Portland Trail Blazers  14795000    2000
5     6       Karl Malone       PF               Utah Jazz  14000000    2000
6     7     Larry Johnson        F         New York Knicks  11910000    2000
7     8       Gary Payton       PG     Seattle SuperSonics  11020000    2000
8     9   Rasheed Wallace       PF  Portland Trail Blazers  10800000    2000
9    10        Shawn Kemp        C     Cleveland Cavaliers  10780000    2000

In [5]:
nba.tail()

      rank              name position                   team  salary  season
9451   524   Jimmer Fredette        G           Phoenix Suns  208509    2020
9452   525     Jontay Porter       PF      Memphis Grizzlies  197933    2020
9453   526  Anthony Tolliver       PF      Memphis Grizzlies  183115    2020
9454   527     Tyler Johnson       SG           Phoenix Suns  183115    2020
9455   528     Luguentz Dort       SG  Oklahoma City Thunder  155647    2020

In [6]:
nba.sample(5)

,rank,name,position,team,salary,season
6967,256,Aaron Brooks,G,Chicago Bulls,2250000,2016
2255,293,Cedric Simmons,SF,NO/Oklahoma City Hornets,1515480,2007
1246,20,Keith Van Horn,PF,New York Knicks,13280000,2004
3694,286,J.J. Barea,PG,Dallas Mavericks,1657500,2010
302,146,Chucky Atkins,PG,Detroit Pistons,3000000,2001

In [7]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9456 entries, 0 to 9455
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rank      9456 non-null   int64
 1   name      9456 non-null   object
 2   position  9399 non-null   object
 3   team      9456 non-null   object
 4   salary    9456 non-null   int64
 5   season    9456 non-null   int64
dtypes: int64(3), object(3)
memory usage: 443.4+ KB

In [8]:
nba.shape # number of rows, number of columns

(9456, 6)

In [9]:
nba.columns

Index(['rank', 'name', 'position', 'team', 'salary', 'season'], dtype='object')

In [10]:
nba.index

RangeIndex(start=0, stop=9456, step=1)

In [11]:
nba.dtypes

rank         int64
name        object
position    object
team        object
salary       int64
season       int64
dtype: object

In [12]:
nba.describe() # only works on numerical columns

              rank        salary       season
count  9456.000000  9.456000e+03  9456.000000
mean    250.483714  4.486115e+06  2011.438029
std     159.477367  5.366191e+06     5.623698
min       1.000000  2.692000e+03  2000.000000
25%     113.000000  9.152430e+05  2007.000000
50%     238.000000  2.351330e+06  2012.000000
75%     374.000000  5.822036e+06  2016.000000
max     699.000000  4.023176e+07  2020.000000

In [13]:
nba.name

0       Shaquille O'Neal
1          Kevin Garnett
2        Alonzo Mourning
3           Juwan Howard
4         Scottie Pippen
              ...
9451     Jimmer Fredette
9452       Jontay Porter
9453    Anthony Tolliver
9454       Tyler Johnson
9455       Luguentz Dort
Name: name, Length: 9456, dtype: object

In [14]:
nba['name']

0       Shaquille O'Neal
1          Kevin Garnett
2        Alonzo Mourning
3           Juwan Howard
4         Scottie Pippen
              ...
9451     Jimmer Fredette
9452       Jontay Porter
9453    Anthony Tolliver
9454       Tyler Johnson
9455       Luguentz Dort
Name: name, Length: 9456, dtype: object

In [15]:
nba.at[3, 'name'] # this is row label 3, not 3 from the top

'Juwan Howard'

In [16]:
nba.salary.min(), nba.salary.max()

(np.int64(2692), np.int64(40231758))

In [17]:
nba.salary.mean(), nba.salary.sum()

(np.float64(4486115.181154822), np.int64(42420705153))

In [18]:
nba.salary/1000

0       17142.000
1       16806.000
2       15004.000
3       15000.000
4       14795.000
          ...
9451      208.509
9452      197.933
9453      183.115
9454      183.115
9455      155.647
Name: salary, Length: 9456, dtype: float64

In [19]:
nba.name + ' (' + nba.team + ')'

0         Shaquille O'Neal (Los Angeles Lakers)
1        Kevin Garnett (Minnesota Timberwolves)
2                  Alonzo Mourning (Miami Heat)
3             Juwan Howard (Washington Wizards)
4       Scottie Pippen (Portland Trail Blazers)
                         ...
9451             Jimmer Fredette (Phoenix Suns)
9452          Jontay Porter (Memphis Grizzlies)
9453       Anthony Tolliver (Memphis Grizzlies)
9454               Tyler Johnson (Phoenix Suns)
9455      Luguentz Dort (Oklahoma City Thunder)
Length: 9456, dtype: object

In [20]:
nba.name + ' (' + nba.salary.astype(str) + ')'

0       Shaquille O'Neal (17142000)
1          Kevin Garnett (16806000)
2        Alonzo Mourning (15004000)
3           Juwan Howard (15000000)
4         Scottie Pippen (14795000)
                   ...
9451       Jimmer Fredette (208509)
9452         Jontay Porter (197933)
9453      Anthony Tolliver (183115)
9454         Tyler Johnson (183115)
9455         Luguentz Dort (155647)
Length: 9456, dtype: object

In [21]:
nba.position.value_counts() # only meaningful in categorical columns

position
C     1765
PF    1731
SG    1699
PG    1475
SF    1454
G      696
F      578
GF       1
Name: count, dtype: int64

Someone asked: Why does this look different? 

This is a Pandas data type for arrays (as opposed to tables).

In [22]:
pos_counts = nba.position.value_counts()
type(pos_counts)

pandas.core.series.Series

If we want, we can turn it into a table with one column by running the following code.

In [23]:
pd.DataFrame(pos_counts)

          count
position
C          1765
PF         1731
SG         1699
PG         1475
SF         1454
G           696
F           578
GF            1

In [24]:
nba.filter(['name', 'salary']) # list of column names

                  name    salary
0     Shaquille O'Neal  17142000
1        Kevin Garnett  16806000
2      Alonzo Mourning  15004000
3         Juwan Howard  15000000
4       Scottie Pippen  14795000
...                ...       ...
9451   Jimmer Fredette    208509
9452     Jontay Porter    197933
9453  Anthony Tolliver    183115
9454     Tyler Johnson    183115
9455     Luguentz Dort    155647

[9456 rows x 2 columns]

In [25]:
nba.drop(columns=['rank']) # columns = list of column names

                  name position                    team    salary  season
0     Shaquille O'Neal        C      Los Angeles Lakers  17142000    2000
1        Kevin Garnett       PF  Minnesota Timberwolves  16806000    2000
2      Alonzo Mourning        C              Miami Heat  15004000    2000
3         Juwan Howard       PF      Washington Wizards  15000000    2000
4       Scottie Pippen       SF  Portland Trail Blazers  14795000    2000
...                ...      ...                     ...       ...     ...
9451   Jimmer Fredette        G            Phoenix Suns    208509    2020
9452     Jontay Porter       PF       Memphis Grizzlies    197933    2020
9453  Anthony Tolliver       PF       Memphis Grizzlies    183115    2020
9454     Tyler Johnson       SG            Phoenix Suns    183115    2020
9455     Luguentz Dort       SG   Oklahoma City Thunder    155647    2020

[9456 rows x 5 columns]

Nothing we've done so far changed the original table `nba`.

In [26]:
nba['sport'] = 'basketball'
nba

,rank,name,position,team,salary,season,sport
0,1,Shaquille O'Neal,C,Los Angeles Lakers,17142000,2000,basketball
1,2,Kevin Garnett,PF,Minnesota Timberwolves,16806000,2000,basketball
2,3,Alonzo Mourning,C,Miami Heat,15004000,2000,basketball
3,4,Juwan Howard,PF,Washington Wizards,15000000,2000,basketball
4,5,Scottie Pippen,SF,Portland Trail Blazers,14795000,2000,basketball
...,...,...,...,...,...,...,...
9451,524,Jimmer Fredette,G,Phoenix Suns,208509,2020,basketball
9452,525,Jontay Porter,PF,Memphis Grizzlies,197933,2020,basketball
9453,526,Anthony Tolliver,PF,Memphis Grizzlies,183115,2020,basketball
9454,527,Tyler Johnson,SG,Phoenix Suns,183115,2020,basketball
9455,528,Luguentz Dort,SG,Oklahoma City Thunder,155647,2020,basketball

In [27]:
nba['salary (in millions)'] = nba['salary']/1000000
nba

,rank,name,position,team,salary,season,sport,salary (in millions)
0,1,Shaquille O'Neal,C,Los Angeles Lakers,17142000,2000,basketball,17.142000
1,2,Kevin Garnett,PF,Minnesota Timberwolves,16806000,2000,basketball,16.806000
2,3,Alonzo Mourning,C,Miami Heat,15004000,2000,basketball,15.004000
3,4,Juwan Howard,PF,Washington Wizards,15000000,2000,basketball,15.000000
4,5,Scottie Pippen,SF,Portland Trail Blazers,14795000,2000,basketball,14.795000
...,...,...,...,...,...,...,...,...
9451,524,Jimmer Fredette,G,Phoenix Suns,208509,2020,basketball,0.208509
9452,525,Jontay Porter,PF,Memphis Grizzlies,197933,2020,basketball,0.197933
9453,526,Anthony Tolliver,PF,Memphis Grizzlies,183115,2020,basketball,0.183115
9454,527,Tyler Johnson,SG,Phoenix Suns,183115,2020,basketball,0.183115
9455,528,Luguentz Dort,SG,Oklahoma City Thunder,155647,2020,basketball,0.155647

In [28]:
nba.name.str.lower()

0       shaquille o'neal
1          kevin garnett
2        alonzo mourning
3           juwan howard
4         scottie pippen
              ...
9451     jimmer fredette
9452       jontay porter
9453    anthony tolliver
9454       tyler johnson
9455       luguentz dort
Name: name, Length: 9456, dtype: object

In [29]:
nba.name.str.split()

0       [Shaquille, O'Neal]
1          [Kevin, Garnett]
2        [Alonzo, Mourning]
3           [Juwan, Howard]
4         [Scottie, Pippen]
               ...
9451     [Jimmer, Fredette]
9452       [Jontay, Porter]
9453    [Anthony, Tolliver]
9454       [Tyler, Johnson]
9455       [Luguentz, Dort]
Name: name, Length: 9456, dtype: object

In [30]:
nba.name.str.get(0)

0       S
1       K
2       A
3       J
4       S
       ..
9451    J
9452    J
9453    A
9454    T
9455    L
Name: name, Length: 9456, dtype: object

In [31]:
nba.name.str.split().str.get(0) # you can combine them

0       Shaquille
1           Kevin
2          Alonzo
3           Juwan
4         Scottie
          ...
9451       Jimmer
9452       Jontay
9453      Anthony
9454        Tyler
9455     Luguentz
Name: name, Length: 9456, dtype: object

In [32]:
# How would you get just the team names, for example 'Los Angeles Lakers' -> 'Lakers'